<%- include("header.ejs"); %>

<h1>Associations et Organisations</h1>
<div>
    <img id="img_inf" src="/static/malade_sport.png">
    <a href="https://maladesdesport.fr/">Malade de Sport</a>
</div>
<div>
    <img id="im_inf" src="/static/CAMi.png">
    <a href="https://www.sportetcancer.com/">Sport et Cancer</a>
</div>
<div>
    <img id="im_inf" src="/static/ligue_cancer.png">
    <a href="https://www.ligue-cancer.net/">Ligue contre le cancer</a>
</div>
<div>
    <img id="im_inf" src="/static/INCa.png" width="56%">
    <a href="https://www.e-cancer.fr/Patients-et-proches/Demarches-sociales/Carte-des-associations-et-des-lieux-d-informations">Carte Associations et lieux d'information</a>
</div>
<%- include("footer.ejs"); %>

</body>
</html>